/** {
    font-family: "Roboto", sans-serif;
}*/

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header,
footer {
    background-color: #1F2937
}

header {
    padding: 0 150px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

li {
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
    list-style: none;
    padding: 0 12px;
}

ul {
    display: flex;
    margin: 0;
}

.hero {
   color: #e5e7eb;
   font-size: 18px; 
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 90px 0;
}

.hero-content {
    width: 420px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-color: #3882f6;
    border-style: solid;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 30px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.information {
   font-size: 18px;
   color: #1F2937; 
   text-align: center;
   padding-top: 15px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 300px 100px;
}

.image {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 12px;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 100px 250px 100px;
    flex-direction: column;
}

sub {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.call-section {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 175px;
    padding: 30px 100px; 
    border-radius: 12px;
}

h3 {
    font-size: 24px;
    font-weight: extra-bold;
    margin-bottom: 0px;
}

.call-section button {
    border-color: #e5e7eb; 
    padding: 5px 30px;
}

footer {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}